{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section>
    <h1>Add task</h1>
    <form action="create_task">
      <label><input type="text" name="title" placeholder="add task title..."></label>
      <button>Add</button>
    </form>
  </section>
  <section>
    <h1>Tasks</h1>
    <ul>
      {% for task in tasks %}
        <li>{{ task.title }} 
          <a href="{% url 'delete_task' task.id %}">del</a>
          <a href="{% url 'update_task' task.id %}">update</a>
        </li>
      {% empty %}
        <li>No tasks!</li>
      {% endfor %}    
    </ul>
  </section>
{% endblock content %}
<p>Test</p>
