<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style type="text/css">
        /*ul,ol{
            border: 5px solid red;
        }
        li{
            border: 2px solid blue;
        }*/
    </style>
</head>
<body>
    <h2>Current Todos</h2>

    <p>Current date: {{ now }}</p>
    <!-- latest_tasks -->
    {% if  latest_tasks %}
    <ul>
        {% for task in latest_tasks %}
            <li><em>{{ task.title }}</em>, due on: <span>{{ task.due }}</span></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>